@import url("https://raw.githubusercontent.com/HeroOfDungeon/snippets/refs/heads/main/Less%20Animations.css");
@import url('https://abbie.github.io/discord-css/import.css');
@import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
@import url("https://raw.githubusercontent.com/Augenbl1ck/Discord-Styles/refs/heads/main/expProfile.css");
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --font-primary: Mulish;
  --font-displat: Mulish;
  --font-headline: Mulish;
}

/*
       actuallybasicbackground
*/

/*customize these*/

:root { 
    --nvbgimg: url("https://raw.githubusercontent.com/ctbug/theme-bgs/refs/heads/main/34a00f67c504cbe0ad7e6d217e0916d4.jpg");
   --nvbgadjust: rgba(0, 0, 0, 0.815); /*use this to tone the bg for better visibility*/
   --scrollbar-thin-track: transparent;
   --scrollbar-auto-track: transparent; 
   }

/*we'll set the background image at the very bottom*/
body { background: center/cover var(--nvbgimg) !important; }
/*add the toning layer..*/
#app-mount { background: var(--nvbgadjust) !important; }

/*then we clear out backgrounds from a bunch of elements*/
[class^=app_], /*main app bg*/
[class^=bg_], /*another bg layer*/
[class*=guilds_], /*serverlist*/
[class^=sidebar_], /*channellist*/
[class^=sidebar_] [class^=container_], /*another layer on channellist*/
[class^=page_] > [class^=chat_] > section, /*channels & roles top bar*/
[class^=page_] > [class^=chat_] > [class^=content_], /*channels & roles page*/
[class^=pageBody_], /*channels & roles channel selection page*/
[class^=page_] > [class^=chat_], /*members page*/
[class^=chat_], /*chat bg*/
[class^=chatContent_], /*another layer on chat*/
[class^=topicsPillContainer_], /*summaries bar*/
[class^=chatContent_] + [class^=container_], /*memberlist*/
[class^=members_], /*another layer on memberlist*/
[class^=member_], /*each member also has a bg*/
[class^=chat_] [class^=container_], /*forum channel*/
[class*=mainCard_], /*forum channel entry*/
[class^=membersWrap_], /*forum post members*/
[class^=chatLayerWrapper_] > [class^=resizeHandle_], /*thread sidebar resizer*/
[class^=chatLayerWrapper_] > [class^=container_], /*thread sidebar*/
[class^=chatLayerWrapper_] > [class^=container_] > [class^=container_], /*thread sidabar title*/
[class^=chat_] [class^=wrapper_], /*voicechannel*/
[class^=callContainer_], /*voicechannel again*/
[class^=callContainer_] > [class^=root_], /*voicechannel yet again*/
[class^=gradientBackground_], /*gradients in voicechannel*/
[class^=gradientBackground_] > [class*=sphere_], /*more gradients in voicechannel*/
[class^=channelChatWrapper_], /*voicechannel chat*/
[class^=chatTarget_], /*voicechannel chat again*/
[class^=channelChatWrapper_] [class^=resizeHandle_], /*voicechannel chat resizer*/
[class^=channelChatWrapper_] [class^=container_], /*voicechannel chat yet again*/
[class^=rowContainer_], /*stage channel speakers*/
[class^=root_] [class^=scroller_], /*stage channel audience*/
[class^=participants_], /*stage channel audience members background*/
[class^=participants_] > [class^=tileContainer_], /*stage channel audience member*/
[class^=container_] > [class^=container_] > section, /*stage channel request to speak top bar*/
[class^=title_], /*top toolbar*/
[class^=children_]::after, /*toolbar overflow fadeout*/

[class^=chatContent_] > [class^=form_], /*chat input area in visual refresh*/
[class^=channelTextArea_], /*chat input*/
[class^=channelTextArea_] [class^=scrollableContainer_], /*chat input again*/
[class^=chatContent_] > form::before, /*wtf even is this and why, discord?*/
[class^=chatContent_] > form::after, /*weird thing in scrollbar*/
[data-list-id="chat-messages"] > [class^=wrapper_], /*skeleton before messages are loaded*/
[data-list-id="chat-messages"] > [class^=wrapper_] > [class^=wrapper_], /*skeleton has many bones in it*/
[class^=privateChannels_], /*DM list*/
[class^=privateChannels_] [class^=scroller_], /*DM list again*/
[class^=page_] [class^=chat_] > section, /*message requests top bar*/
[class*=userProfileOuterUnthemed_], /*DM right sidebar when user has no profile theme*/
[class*=userProfileOuterUnthemed_] [class^=userPanelInner_], /*same*/
[class^=page_] > [class^=container_], /*friends list page*/
[class^=page_] > [class^=container_] > section, /*friends list top bar*/
[class^=page_] > [class^=container_] > [class^=tabBody_], /*friends list*/
[class^=nowPlayingColumn_], /* friends list right sidebar*/
[class^=nowPlayingColumn_] > [class^=container_], /*yeah*/
[class^=nowPlayingColumn_] [class^=body_], /*activities have..*/
[class^=nowPlayingColumn_] [class^=section_], /*..a double background too*/
[class^=itemCard_], /*friends list activity cards*/
[class^=shop_], /*shop tab content*/
[class^=shopViewWrapper_] > section, /*shop top bar*/
[class^=shopScroll_], /*shop content*/
[class^=pageWrapper_], /*again*/
[id^=vc-indicators-indicator-items], /*online friend count if plugin is enabled*/
[class^=sidebar_]::after, /*tiny little area under the profile display*/
[class^=layer_],
[class^=sidebarRegion_], /* settings shit */
[class^=contentRegion_],
[class^=contentRegionScroller_], /* main region */
[class^=sidebarRegionScroller_], /* sidebar region */
[class^=standardSidebarView_]
 { background: none !important; }

/*remove some shadows*/
[class^=chat_]::before,
[class^=header_],
[class^=content_]::before,
[class^=tabBody_]::before, /*dm list*/
[class^=searchBar_] /*dm list search*/
 { box-shadow: none; }

/*fixes*/
[class^=sidebar_],
[class^=userPanelInner_]
 { border-radius: 0 !important; }
[class^=privateChannels_] > [class^=scroller_] /*user panel overlaps DM list*/
 { margin-bottom: 55px; }
[class^=gradientBackground_]
 { display: none; } /*remove leftover blurred gradient in VCs*/
[class^=chat_] > [class^=wrapper_]
 { background: var(--background-mod-subtle);
   border-left: 1px solid var(--border-subtle); }

/*make server banner etc scroll away because of overlap*/
[class^=sidebar_] [class^=container_]:has( > [class^=header_])
 { position: static; }

:root {
    /* change padding of the bar */
    --rscb-chat-box-padding: 8px; /* default is 8px for alignment */
    /* Whether you want the chat to not move up *\
    \*    and down when someone starts typing   */
    --rscb-no-jump-chat: 0;
     /* Whether you want the messages to clip through *\
     \*  the gap between slowmode and typing people   */
     --rscb-clip-chat-through-typing-bar: 0;
}

:root {
    --\\--compact-title-bar: false;
    --\\--compact-input-box: true;
    --\\--compact-context-menu: true;
    --\\--compact-user-area: false;
    --\\--compact-channel-categories: false;
    --\\--compact-server-list: false;

    --\\--hide-nameplates: false;
    --\\--hide-guild-tags: false;
    --\\--hide-profile-effects: false;
    --\\--hide-avatar-decorations: false;
    --\\--hide-gradient-glow-usernames: false;
    --\\--hide-server-boost-goal: false;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: false;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: false;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: true;
    --\\--hide-gift-button: false;
    --\\--hide-help-button: false;
    --\\--hide-shop-button: false;
    --\\--hide-nitro-button: true;
    --\\--hide-active-now: false;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: false;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */

    --\\--darker-scrollbar: true;
    --\\--darker-hovered-message: true;
    --\\--prevent-sidebar-resizing: false;
    --\\--fix-minor-icon-misalignments: true;
}

:root {
    --custom-app-top-bar-height: 28px
}
[class^=bar] {
            backdrop-filter: blur(40px);
    padding: unset;
    > [class^=title] {
        position: relative;
        padding-left: 8px;
        > [class^=title] > [class^=icon] {
            height: 16px;
            width: 16px;
        }
    }
    > [class^=trailing] {
        gap: unset;
        > [class^=recentsIcon] {
            &:hover {
                background-color: var(--background-modifier-hover);
                color: var(--interactive-hover);
            }
            > [class^=button] {
                height: 16px;
                width: 16px;
                padding: 3px 12px;
                > [class^=iconBadge] {
                     bottom: 2px;
                     right: 11px;
                }
            }
        }
        > a[href="https://support.discord.com"] {
            display: none;
        }
        > [class^=button]
        {
            height: 16px;
            width: 16px;
            padding: 3px 12px;
            &:hover
            {
                background-color: var(--background-modifier-hover);
                color: var(--interactive-hover);
            }
        }
        > [class^=winButtons] {
            gap: unset;
            > [class^=winButton] {
                width: calc(var(--custom-app-top-bar-height) * 1);
            }
        }
    }
}

    .upperContainer__9293f .toolbar__9293f .search__49676 { /* Re-Iconify Search */
        order: -1;
        .searchBar__97492 { /* Make the default state only show an icon that can be clicked. */
            transition: all ease 0.3s;
            width: 25px;
            box-sizing: unset;
            cursor: pointer;
            background: none;
            border: none;
            padding: 0;
            .icon__97492 {
                height: 32px;
                width: 32px;
                scale: 1.2;
                cursor: pointer;
            }
        }
        .focused__97492 .searchBar__97492, .open__97492 .searchBar__97492 { /* Expand the search bar when focused, and keep it expanded when text is entered. These classes make it really easy, thanks discord! */
            width: 225px;
            box-sizing: border-box;
            cursor: text;
            background: var(--background-gradient-low, var(--input-background));
            border: 1px solid var(--input-border);
            padding: 2px 0;
            .icon__97492 {
                height: 24px;
                width: 24px;
                scale: 1;
                cursor: pointer;
            }
        }
    }

    .scroller__36d07::-webkit-scrollbar {
  width: 4px /* or display: none to hide */
}

.scroller__99e7c::-webkit-scrollbar {
  width: 4px; /* or display: none to hide */
}

.scroller__629e4::-webkit-scrollbar {
  width: 4px /* or display: none to hide */
}

.peopleList__5ec2f::-webkit-scrollbar {
  width: 4px; /* or display: none to hide */
}

.scroller__7d20c::-webkit-scrollbar {
  width: 4px /* or display: none to hide */
}

.sidebarRegionScroller__23e6b::-webkit-scrollbar {
  width: 4px; /* or display: none to hide */
}

.contentRegionScroller__23e6b::-webkit-scrollbar {
  width: 4px /* or display: none to hide */
}


:root{
  --selfMessageColorStart: #46403538;
  --selfMessageColorEnd: #46403538;
  --defaultMessageColorStart: #46403538;
  --defaultMessageColorEnd: #46403538;
}

#app-mount [class^="messageListItem__"][data-is-self="true"] [class*=groupStart] > [class*=contents] > [class*=markup],
#app-mount [class*=message][data-author-self=true] [class*=groupStart] > [class*=contents] > [class*=markup] {
   text-align: left;
}

#app-mount [class^="messageListItem__"][data-is-self="true"][class*=message][class*=selected] [class*=contents],
#app-mount [class*=message][class*=selected][data-author-self=true] [class*=contents] {
    width: 100%;
}

#app-mount [class^="messageListItem__"][data-is-self="true"] [class*=replying] [class*=contents] [class*=messageContent]::before,
#app-mount [class^="messageListItem__"][data-is-self="true"] [class*=mentioned] [class*=contents] [class*=messageContent]::before,
#app-mount [class*=replying][data-author-self=true] [class*=contents] [class*=messageContent]::before,
#app-mount [class*=mentioned][data-author-self=true] [class*=contents] [class*=messageContent]::before {
    left: unset;
    right: 0;
}


@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#app-mount [class^="messageListItem__"][data-is-self="true"] [class*=contents] > [class*=messageContent],
#app-mount [class*=message][data-author-self=true] [class*=contents] > [class*=messageContent] {
    background: linear-gradient(45deg, var(--selfMessageColorStart), var(--selfMessageColorEnd), var(--selfMessageColorStart)) !important;
    background-size: 200% 200% !important;
    animation: gradientFlow 5s ease infinite !important;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
}

#app-mount [class^="messageListItem__"][data-is-self="true"] a:not([class*=embed] [class*=embedAuthorNameLink]),
#app-mount [class^="messageListItem__"][data-is-self="true"] [class*=repliedMessage]
#app-mount [class*=message][data-author-self=true] a:not([class*=embed] [class*=embedAuthorNameLink]),
#app-mount [class*=message][data-author-self=true] [class*=repliedMessage] {
    margin-left: auto;
}

#app-mount [class^="messageListItem__"][data-is-self="true"] [class*=embedAuthor],
#app-mount [class*=message][data-author-self=true] [class*=embedAuthor] {
    direction: ltr;
}

#app-mount [class*=contents] pre,
#app-mount [class*=message] {
    max-width: 100%;
}


#app-mount [class*=contents] > [class*=messageContent] {
    background: linear-gradient(45deg, var(--defaultMessageColorStart), var(--defaultMessageColorEnd), var(--defaultMessageColorStart));
    background-size: 200% 200%;
    animation: gradientFlow 5s ease infinite;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    margin-left: unset;
    width: fit-content;
    border-radius: 0.7vw;
        backdrop-filter: blur(3px);
}

[class^="messageListItem__"][data-is-self="true"] [class*=compact][class*=wrapper] [class*=messageContent],
[class*=message] [class*=compact] [class*=wrapper] [data-author-self=true] [class*=messageContent] {
    display: flex;
}

#app-mount [class*=compact] [class*=wrapper] {
    padding-top: 8px;
    padding-bottom: 8px;
}


#app-mount .mentioned__5126c .contents_c19a55 .messageContent_c19a55 {
    background: linear-gradient(135deg, var(--mention), var(--mention-secondary), var(--mention));
    background-size: 200% 200%;
    animation: gradientFlow 3s ease infinite;
}

#app-mount .mentioned__5126c:hover .contents_c19a55  .messageContent_c19a55,
#app-mount .mentioned__5126c.selected__5126c .contents_c19a55 .messageContent_c19a55 {
    background: linear-gradient(135deg, var(--defaultMessageColorStart), var(--defaultMessageColorEnd), var(--defaultMessageColorStart));
    background-size: 200% 200%;
    animation: gradientFlow 5s ease infinite;
}
#app-mount .mentioned__5126c .contents_c19a55 .messageContent_c19a55::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    z-index: 1;
}
#app-mount .repliedMessage_c19a55 {
    background-color: var(--message-hover);
    margin-bottom: 0;
    padding: 6px;
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
}
[data-is-self=true] [id*=message-reply]::before{
  display: none;
}
[class*="mentioned"] {
    animation: ping-shake 1.3s ease-in-out 1 !important;
}

.channelTextArea_f75fb0, .scrollableContainer__74017, .upload_aa605f {
  border-radius: 20px !important;
  border-width: 2px;
  border-color: #ffffff0e;
}
.messagesWrapper__36d07>.scroller__36d07 {
  padding-bottom: 60px;
  &::-webkit-scrollbar-track {
    margin-bottom: 80px;
  }
  ~div {
    bottom: 80px;
  }
}
.formWithLoadedChatInput_f75fb0 {
  position: absolute;
  padding: 0 !important;
  bottom: 0 !important;
  width: 100%;
  >div {
    backdrop-filter: blur(4px);
    background: transparent;
    padding: 0 8px 0 0;
    margin-right: 15px;
    .channelTextArea__74017, .themedBackground__74017,
    .channelAttachmentArea_b77158, .upload_aa605f, .wrapper_f7ecac,
    .stackedBars__74017 {
      background: transparent !important;
    }
  }
}

.container__37e49 {
    align-items: center;
    background: unset;
    border-radius: inherit;
    box-sizing: border-box;
    container-type: inline-size;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    gap: var(--space-xs);
    height: 54px;
    justify-content: space-between;
    margin-left: -1px;
    min-height: var(--custom-rtc-account-height);
    padding: var(--space-xs);
    position: relative;
    z-index: 1;
}

.panels_c48ade {
    border-radius: 20px;
    right: 0;
    left: unset;
    width: 220px;
}

.guilds_c48ade {
    margin-bottom: 0;
}

[class*="childWrapper__"],
    [class*="childWrapper__"] img,
    [class*="icon_"],
    [class*="circleIconButton__"] {
        border-radius: 40% !important;
        transition: border-radius 150ms linear;
    }

.panels_c48ade {
background-color: #1316151a;
    backdrop-filter: blur(8px);
}

.activityPanel_c48ade {
  background-color: #1316151a;
    backdrop-filter: blur(8px);
}

.wrapper__2ea32.modeSelected__2ea32 {
    background-color: #251b0838;
    border-radius: 10px;
}
